// option 1

// $primary--light: #fff;
// $secondary--light: #dcd6d7;
// $accent--light: #df1024;

// $primary--dark: #302831;
// $secondary--dark: #625a67;
// $accent--dark: #df1024;


// option 2

$primary--light: #fff;
$secondary--light: #f3f3f7;
$text--light: #2f3646;

$primary--dark: #1b202c;
$secondary--dark: #252b3d;
$text--dark: #fff;

$accent: #eb5757;


:root {
    --primary: #1b202c;
    --secondary: #252b3d;
    --accent: #eb5757;
    --text: #fff;
}


$primary: var(--primary);
$scheme-main: var(--secondary);
$text: var(--text);
$danger: var(--accent);
$text-strong: var(--text);

$link-focus-border: white;
$link-focus: white;

$background: $secondary--dark;

.dark {
    --primary: #1b202c;
    --secondary: #252b3d;

    // --primary: #14181b;
    // --secondary: #2b2e34;

    --accent: #eb5757;
    --text: #fff;

    // bg: #14181b
    // card #2b2e34

}

.light {
    --primary: #f3f3f7;
    --secondary: #fff;
    --accent: #eb5757;
    --text: #2f3646;
}


.has-background-primary {
    background-color: var(--primary) !important;
    transition: background-color 500ms ease-in-out;
}

.has-background-secondary {
    background-color: var(--secondary) !important;
    transition: background-color 500ms ease-in-out;
}

.has-background-accent {
    background-color: var(--accent) !important;
    transition: background-color 500ms ease-in-out;
}

.has-text--dark {
    color: $text--dark !important;
}

.has-text--light {
    color: $text--light !important;
}

.has-text--accent {
    color: $accent !important;
}

.button {
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem 1.2rem;
    margin: 0 0.3rem 0.3rem 0;
    color: var(--text) !important;
    text-align: center;

    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

    transition: 200ms ease;
}

.is--active {
        border-color: $accent !important;
        border: none;
        background-color: var(--accent);
        color: white !important;
}

.is--not-active {
    border-color: var(--text) !important;
    background-color: var(--secondary);
    border: none;
    color: var(--text);
}


button.blue {
    &.is--active {
        background-color: #497dc7 !important;
    }
    
    &:hover,
    &:focus {
        background-color: #497dc7 !important;
    }
}

button.brown {
    &.is--active {
        background-color: #6b5047 !important;
    }
    
    &:hover,
    &:focus {
        background-color: #6b5047 !important;
    }
}

button.white {
    &.is--active {
        background-color: white !important;
        color: black !important;
    }
    
    &:hover,
    &:focus {
        background-color: white !important;
        color: black !important;
    }
}

button.black {
    &.is--active {
        background-color: black !important;
        color: white;
    }
    
    &:hover,
    &:focus {
        background-color: black !important;
        color: white !important;
    }
}


.button:hover {
    background-color: $accent !important;
    color: white !important;
    border-color: transparent !important;
}

.button:focus {
    outline: 2px solid white;
}


