
.card-wrapper{
    display: flex !important;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row !important; 
    justify-content: flex-start;
}



@media screen and (max-width: 800px) {
    .card-wrapper{
        flex-direction: column;
		padding: 1vw;
		width: 100%;
        justify-content: space-around;
    }
}