
.card {
    width: 300px;
    margin: 1em;
}

.card-content {
    display: flex !important;
    flex-direction: row !important;
    width: 100%;
    justify-content: space-between !important;
}


@media screen and (max-width: 700px) {
    .card {
        //width: 100% !important;
    }
}