a:link {
    text-decoration: none !important;
}


.crd {
    min-width: 35ch;
    max-width: 80ch;
    color: var(--text);
    background-color: var(--secondary);
    border-radius: 0.5rem;
    overflow: hidden;


    .card--image {
        width: 100%;
        height: auto;
    }

    .card--content {
        padding: 0 1.5rem !important;

        .card--title {
            position: relative;
            width: intrinsic;
            width: -moz-max-content;
            width: -webkit-max-content;
            width: max-content;
            margin: 0.83rem !important;
            text-decoration: none !important;
            
            &::after {
                content: "";
				position: absolute;
				height: 4px;
				width: 100%;
				left: 0;
				bottom: 0;
				background: var(--accent);
				transform: scaleX(0);
				transform-origin: left;
				transition: transform 300ms ease;
            }
        }

        .card--price {
            margin: 0.83rem !important;
        }


    }

    transition: transform 300ms ease;
    transition: background-color $color-anim-time ease;
    transition: color 0.01ms ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);


    &:focus {
        outline: 2px solid var(--accent);
    }

    &:hover {
        transform: scale(1.05);
    }
}

.crd:hover .card--title::after,
a:focus .crd .card--title::after {
	transform: scaleX(1);
}

a:focus .crd {
    //outline: 2px solid var(--accent);
    transform: scale(1.05);
}

a, a:link {
    outline: none;
}

