

section {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row !important; 
    justify-content: flex-start;
}

.card {
    width: 300px;
    margin: 1em;
}

.card-content {
    display: flex !important;
    flex-direction: row !important;
    width: 100%;
    justify-content: space-between !important;
}

// .card-content .left {
//     float:left;
// }

// .card-content .right {
//     float: right;
// }



@media screen and (max-width: 800px) {
    section {
        flex-direction: column;
		padding: 1vw;
		width: 100%;
    }

    .card {
        width: 100% !important;
    }
}