

.navbar.has-centered-menu {
  .navbar-start {
    flex-grow: 1;
    justify-content: center;
  }
}

.button.is-ghost{
  color: white !important;

}

.button.is-ghost:hover{
  color: $accent--dark !important;
}

.button:focus{
  color: $accent--dark !important;
  // outline: 2px solid $accent--dark;
  box-shadow: 0 0 0 2px $accent--dark !important;
  border-color: transparent !important;
}