

$width: 80%;
$thumb-radius: 18px;

$hover-colour: $accent--dark;


.container {
  display: flex;
  justify-content: center;
  padding: 0em 0em 3em 0em;
};

.slider {
  position: relative;
  width: $width;
};

.slider-track,
.slider-range,
.slider-value {
  position: absolute;
};

.slider-track,
.slider-range {
  border-radius: 10px;
  height: 5px;
};

.slider-track {
  background-color: $primary--dark;
  width: 100%;
  z-index: 2;
};

.slider-range {
  background-color: $accent--dark;
  z-index: 2;
};

.slider-value {
  //color:;
  font-size: 12px;
  margin-top: 10px;
  width: 100%;
};

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
};

.thumb {
  pointer-events: none;
  height: 0;
  width: $width;
  outline: none;
  position: absolute;
};

.thumb:hover,
.thumb:focus{
  background-color:$hover-colour;
}

.thumb-left {
  z-index: 3;
};

.thumb-right {
  z-index: 3;
};

/* Chrome */
.thumb::-webkit-slider-thumb {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #000;
  cursor: pointer;
  height: $thumb-radius;
  width: $thumb-radius;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.thumb::-webkit-slider-thumb:hover,
.thumb::-webkit-slider-thumb:focus{
  background-color:$hover-colour;
}

/* Firefox */
.thumb::-moz-range-thumb {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #000;
  cursor: pointer;
  height: $thumb-radius;
  width: $thumb-radius;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.thumb::-moz-range-thumb:hover,
.thumb::-moz-range-thumb:focus{
  background-color: $hover-colour;
}
