
.account-wrapper {
    background-color: $primary--dark !important;
}


.box {
    background-color: $secondary--dark !important;

}
.content {
    display: flex !important;
    flex-direction: row !important;
    width: 100%;
    justify-content: space-between !important;
}


.button--logout {
    width:100%;
}