
.account-wrapper {
    background-color: var(--primary) !important;
}


.box {
    background-color: var(--secondary) !important;

}
.content {
    display: flex !important;
    flex-direction: row !important;
    width: 100%;
    justify-content: space-between !important;
}


.button--logout {
    width:100%;

    &:hover {
        background-color: var(--accent);
        color: white !important;
    }
}