body {
    width: 100%;
}

.main-body {
    display: flex;
    min-height: 92vh;
    width: 100%;
    flex-shrink: 0;
    flex-direction: column;
    background-color: var(--primary);
    transition: background-color $color-anim-time ease;
}

.main-section {
    flex: 1;
    
}